body {
    background-color : #DDDDDD;
}
.container {
    background-color : #ffffff;
    border           : solid 1px #808080;
    border-radius    : 5px;
    padding          : 20px;
    margin-top       : 20px;
    margin-bottom    : 20px;
    box-shadow       : 1px 1px 3px grey;
}
.locales {
    float  : right;
    margin : 5px 10px;
}

/* Bloc-streams */

.bloc-selection-list .row-fluid {
    margin-top : 10px;
}
.bloc-selection-list {
    margin-bottom : 15px;
}
.bloc-selection-list .alert {
    margin-bottom : 5px;
}
.bloc-search-list .row-fluid {
    margin-top : 10px;
    text-align : left;
}
.bloc-search-list .btn {
    float : left;
}
.bloc-join label {
    width         : 350px;
    display       : inline-block;
    text-align    : right;
    padding-right : 20px;
    position      : relative;
    top           : -4px;
}
.bloc-result {
    overflow : auto;
}
.bloc-result-table td {
    white-space : pre;
}
.bloc-result-table th {
    white-space : pre;
}
.bloc-result-table td div.tooltip {
    white-space : normal;
}
h2 {
    margin-top : 50px;
}
.bloc-bottom {
    margin-top : 40px;
}
.bloc-result-save-message {
    margin-top : 10px;
}
.bloc-join-message div {
    margin : 0;
}